<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>袋鱼——连锁便利店/商超最佳行业解决方案，满足广泛的业务需求</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/index/css/about.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="/static/index/css/slider.style.css" />
<link rel="stylesheet" href="/static/index/css/flat-ui.css" />
</head>
<body>
<div class="dowebok-hd">
  <div class="inner">
    <h1><a href="/">袋鱼——连锁便利店/商超最佳行业解决方案，满足广泛的业务需求，满足用户的实际需求。。。。。。。</a></h1>
    <ul class="nav">
      <li><a href="/">首页</a></li>

      <li><a href="/index/index/product">产品介绍</a></li>

      <li><a href="/index/index/edition">功能版本</a></li>

      <li><a href="/index/news/index">新闻动态</a></li>

      <li><a href="/index/index/join">加入我们</a></li>

      <li><a href="/index/index/about" class="nav-current">关于我们</a></li>
      
    </ul>
  </div>
</div>
<div id="about">
  <div class="about-content-img"> </div>
  <div class="about-content1">
    <div class="about-content1-text">
      <p class="about-content1-text-p1">零售开店，就用袋鱼</p>
      <p class="about-content1-text-p2">袋鱼成立于2016年10月，经过1年多的发展，在职员工已达30人，合作过的企业上百家<br/>
        袋鱼已由最初的APP/微信开发服务商，快速发展成为一家专注于新零售领域产品和服务的互联网多元化企业。通过运用大数据、人工智能等先进技术手段，为传统企业提供移动互联网整体解决方案，致力于通过产品和服务，助力中小企业向智能商业转型，用技术驱动商业革新，让商业更智慧 </p>
      <div class="about-content1-text-slides">
        <div class="flexslider">
          <ul class="slides">
            <li>
              <div class="img"><img src="/static/index/images/about-1.jpg" style="height:100%;width:100%" /></div>
            </li>
            <li>
              <div class="img"><img src="/static/index/images/about-3.jpg" style="height:100%;width:100%"/></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="about-content2">
    <div class="about-content2-content">
      <p class="about-content2-content-p1">“袋鱼人的使命”</p>
      <p class="about-content2-content-p2"> &nbsp;&nbsp;&nbsp;&nbsp;助力中小企业向智能商业转型</p>
	  <p class="about-content2-content-p1">“袋鱼人的愿景”</p>
      <p class="about-content2-content-p2"> &nbsp;&nbsp;&nbsp;&nbsp;智慧新零售</p>
    </div>
  </div>
  <div class="about-content3">
    <div class="about-content3-text">
      <p class="about-content3-text-p1">服务 / 执行力 / 拥抱变化 / 责任</p>
      <p class="about-content3-text-p2"> 新力量拥有一支事业心强、团结进取、朝气蓬勃的经营管理及技术研发团队。<br/>
        创始人团队和管理层均拥有10年以上的互联网、猎头企业、金融行业和建筑行业成功经验，<br/>
        矢志锐意进取，持续推动创新，创造更大的社会和经济效益。<br/>
      </p>
      <div class="about-content3-video" >
        <div class="container">
          <div class="span8 demo-video">
            <video class="video-js" controls
		              preload="auto" width="100%" height="auto" poster="/static/index/images/poster.jpg" data-setup="{}">
              <source src="/static/index/images/grbang30.mp4" type='video/mp4'/>
              <source src="/static/index/images/grbang.mp4" type='video/mp4'/>
            </video>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="foot">
  <div class="foot-content">
    <p>Copyright &copy; 2014-2016 Www.AdminBuy.Cn AB模版网 版权所有</p>
    <p>苏ICP12345678</p>
  </div>
</div>
 
<script type="text/javascript" src="/static/index/js/jquery-1.8.2.js"></script>
<script src="/static/index/js/slider.js"></script>
<script src="/static/index/js/scroll.js"></script>
<script type="text/javascript" src="/static/index/js/jwplayer.js"></script>
<script>
$(function(){
	$('.flexslider').flexslider({
		animation: "slide",
		direction:"horizontal",
		easing:"swing"
	});

	var mwidth="100%";
	var playlistw="top";
//	jwplayer("myElement").setup({
//		playlist: [{
//		  file: "/index/Public/Home/video/grbang.mp4",
//		}
//		 ],
//		width: mwidth,
//	  fullscreen:true,
//	  overstretch: true,
//		listbar: {
//		  position: playlistw,
//		  size: 30
//		}
//	  });
});
</script>
</body>
</html>