<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>加入我们_蓝色大气app下载企业通用网站织梦dedecms模板 - AB模版网 - Www.AdminBuy.Cn</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/index/css/join.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="dowebok-hd">
  <div class="inner">
    <h1><a href="/">蓝色大气app下载企业通用网站织梦dedecms模板 - AB模版网 - Www.AdminBuy.Cn</a></h1>
    <ul class="nav">
      <li><a href="/">首页</a></li>

      <li><a href="/index/index/product">产品介绍</a></li>

      <li><a href="/index/index/edition">功能版本</a></li>

      <li><a href="/index/news/index">新闻动态</a></li>

      <li><a href="/index/index/join" class="nav-current">加入我们</a></li>

      <li><a href="/index/index/about">关于我们</a></li>
    </ul>
  </div>
</div>
<div id="join">
  <div class="join-content-img"> </div>
  <div class="join-content">
    <p class="join-content-p1">拓展一片崭新的原野</p>
    <p class="join-content-p2">加入新力量，成为我们的一员</p>
    <p class="join-content-p3">新力量为每位辛勤工作的员工创造优质的工作环境和发展机会，<br/>
      我们有宽松的工作环境，人性化的管理体制，优厚的员工福利，我们不论学历<br/>
      只要你有能力，这里将是你梦想起飞的地方，也是你个人快速发展的起点。</p>
    
  </div>
</div>
<div id="foot">
  <div class="foot-content">
    <p>Copyright &copy; 2014-2016 Www.AdminBuy.Cn AB模版网 版权所有</p>
    <p>苏ICP12345678</p>
  </div>
</div>
 
<script type="text/javascript" src="/static/index/js/jquery-1.8.2.js"></script>
<script src="/static/index/js/scroll.js"></script>
<script>
	$(".menu li").click(function(){ 
	$(".menu li").addClass("others"); 
	$(this).removeClass("others").addClass("current"); 
	
	var index=$(".menu li").index(this); 
	$(".box-content").hide(); 
	$(".box-content").eq(index).fadeIn(200);
	});
	
	

</script>
</body>
</html>