<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>新闻动态_蓝色大气app下载企业通用网站织梦dedecms模板 - AB模版网 - Www.AdminBuy.Cn</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/index/css/news.css" rel="stylesheet" type="text/css"/>
<link href="/static/index/css/page.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="dowebok-hd">
  <div class="inner">
    <h1><a href="/">蓝色大气app下载企业通用网站织梦dedecms模板 - AB模版网 - Www.AdminBuy.Cn</a></h1>
    <ul class="nav">
      <li><a href="/">首页</a></li>

      <li><a href="/index/index/product">产品介绍</a></li>

      <li><a href="/index/index/edition">功能版本</a></li>

      <li><a href="/index/news/index"   class="nav-current">新闻动态</a></li>

      <li><a href="/index/index/join">加入我们</a></li>

      <li><a href="/index/index/about">关于我们</a></li>
      
    </ul>
  </div>
</div>
<div id="main">
  <div class="main-content-img" id="smallContent">
    <img src="{$newsBanner.thumbnail}" id="smallImg">
  </div>
  <div class="main-content-lists">

    {foreach name="newsList" item="n"}
    <ul>
      <li>
        <div class="left-img"> <img src="{$n.thumbnail}"/> </div>
        <div class="right-content">
          <p class="right-content-date">{$n.create_time}</p>
          <a href="/index/news/detail?id={$n.id}"><span class="right-content-title">{$n.title|mb_substr=0,16,'utf-8'}</span></a>
          <p class="right-content-text">{$n.info|mb_substr=0,90,'utf-8'}</p>
        </div>
      </li>
    </ul>
    {/foreach}

  </div>
  <div class="pagess">
    <ul>
    {$newsList->render()}
    </ul>
  </div>
</div>
<div id="foot">
  <div class="foot-content">
    <p>Copyright &copy; 2014-2016 Www.AdminBuy.Cn AB模版网 版权所有</p>
    <p>苏ICP12345678</p>
  </div>
</div>
 
<script type="text/javascript" src="/static/index/js/jquery-1.8.2.js"></script>
<script src="/static/index/js/scroll.js"></script>
<script src="/static/index/js/jquery.imagescroll.min.js"></script>
<script src="/static/index/js/bannerimg.js"></script>
<script>
	        $('.img-holder').imageScroll({
	//            image: null,
	//            imageAttribute: 'image',
	//            container: $('body'),
	//            windowObject: $(window),
	//            speed:.2,
	//            coverRatio:.75,
	//            coverRatio:1,
	//            holderClass: 'imageHolder',
	//            imgClass: 'img-holder-img',
	//            holderMinHeight: 200,
	//            holderMaxHeight: null,
	//            extraHeight: 50,
	//            mediaWidth: 1600,
	//            mediaHeight: 900,
	//            parallax: true,
	//            touch: false
	        });
</script>
</body>
</html>