<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>产品介绍_蓝色大气app下载企业通用网站织梦dedecms模板 - AB模版网 - Www.AdminBuy.Cn</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/static/index/css/product.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="dowebok-hd">
  <div class="inner">
    <h1><a href="/">蓝色大气app下载企业通用网站织梦dedecms模板 - AB模版网 - Www.AdminBuy.Cn</a></h1>
    <ul class="nav">
      <li><a href="/">首页</a></li>

      <li><a href="/index/index/product" class="nav-current">产品介绍</a></li>

      <li><a href="/index/index/edition">功能版本</a></li>

      <li><a href="/index/news/index">新闻动态</a></li>

      <li><a href="/index/index/join">加入我们</a></li>

      <li><a href="/index/index/about">关于我们</a></li>
      
    </ul>
  </div>
</div>
<div id="main">
  <div class="main-content1">
    <div class="main-content1-content">
      <p class="main-content1-content-p1">工人帮，</p>
      <p class="main-content1-content-p2">中国最大的建筑业综合服务平台。</p>
      <span id="app-down" class="main-content1-content-span"></span>
      <p class="main-content1-content-p3">大小：4.28M，更新日期：2015.7.15</p>
    </div>
    <div class="content-hidden" id="newwin"> </div>
    <div class="content-hidden-c" id="newwin-c"> <span id="closewin" class="content-hidden-c-span"></span>
      <p class="content-hidden-c-p1">工人帮APP，中国最大建筑业综合服务平台。每天发布</p>
      <p class="content-hidden-c-p2">100+招聘信息和培训信息，更有海量影视小说供你轻松浏览。</p>
      <p class="content-hidden-c-p3">手机扫描二维码下载，或者选择合适你手机的系统下载</p>
      <div class="content-hidden-c-code">
        <div style="float:left;"> <img src="/static/index/images/code.png"/> </div>
        <div style="float:right;"> <a href="#" class="content-hidden-c-android"></a><br/>
          <a href="#" class="content-hidden-c-ios"></a> </div>
      </div>
    </div>
  </div>
  <div class="main-content2">
    <div class="main-content2-content">
      <p class="main-content2-content-p1">快速召集施工队伍</p>
      <p class="main-content2-content-p2">施工单位、承包商或班组长可以在工人帮上自主地发布招聘需求，<br/>
        快速召集合格合适的施工队伍。工人帮为您严格把关。</p>
    </div>
  </div>
  <div class="main-content3">
    <div class="main-content3-content">
      <p class="main-content3-content-p1">便捷找工</p>
      <p class="main-content3-content-p2">建筑工人通过工人帮手机客户端完善资料后，即可申请心仪的工作。<br/>
        热情专业的客服人员会及时与您沟通，协助您找到满意的工作。<br/>
        找工作更加高效快捷。</p>
    </div>
  </div>
  <div class="main-content4">
    <div class="main-content4-content">
      <p class="main-content4-content-p1">专业培训，安心上岗</p>
      <p class="main-content4-content-p2">为施工单位的建筑工人提供工作技能、安全生产、职业病防治等方面的培训。<br/>
        更可承担施工单位的三级安全教育。学习结束，通过考核，安心上岗！</p>
    </div>
  </div>
  <div class="main-content5">
    <div class="main-content5-content">
      <p class="main-content5-content-p1">考证攻略，加薪晋级</p>
      <p class="main-content5-content-p2">手把手教您考证晋级，案例示范、模拟考试、考证攻略，<br/>
        初级小工变身高级大工，薪水哗哗涨，快到碗里来！</p>
    </div>
  </div>
  <div class="main-content6">
    <div class="main-content6-content">
      <p class="main-content6-content-p1">好礼时时有</p>
      <p class="main-content6-content-p2">工人帮贴心大礼包！我们来到您的工地免费送手机话费、饮用水、毛巾、<br/>
        小电扇、常备药品；如果您成为我们的注册用户，就有机会获得微信现金红包、<br/>
        抽奖大惊喜、积分兑奖品；如果您愿意将我们推荐给身边的朋友，<br/>
        更有分享好礼等着您哦！</p>
    </div>
  </div>
</div>
<div id="foot">
  <div class="foot-content">
    <p>Copyright &copy; 2014-2016 Www.AdminBuy.Cn AB模版网 版权所有</p>
    <p>苏ICP12345678</p>
  </div>
</div>
 
<script type="text/javascript" src="/static/index/js/jquery-1.8.2.js"></script>
<script src="/static/index/js/scroll.js"></script>
<script>
$(function(){

	$('#app-down').click(function(){
		$('#newwin').show();
		$('#newwin-c').show();
	});
	$('#closewin').click(function(){
		$('#newwin').hide();
		$('#newwin-c').hide();
	});
	
	
});
</script>
</body>
</html>