<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<title>新闻动态_蓝色大气app下载企业通用网站织梦dedecms模板 - AB模版网 - Www.AdminBuy.Cn</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="css/news.css" rel="stylesheet" type="text/css"/>
<link href="css/page.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" href="css/canting.css">
</head>
<body ondragstart="return false">
<div class="dowebok-hd">
  <div class="inner">
    <h1><a href="/">蓝色大气app下载企业通用网站织梦dedecms模板 - AB模版网 - Www.AdminBuy.Cn</a></h1>
    <ul class="nav">
      <li><a href="index.html">首页</a></li>
      
      <li><a href='about.html'>关于我们</a> </li>
	  
      <li><a href='product.html'>产品介绍</a> </li>
	  
	   <li><a href="edition.html">功能版本</a></li>
	   
      <li><a href="news.html" class='nav-current'>新闻动态</a></li>
      
      <li><a href="join.html">加入我们</a></li>
      
    </ul>
  </div>
</div>
<div id="main">
  <div class="main-content-img"> </div>
  
  <div class="main-content-lists"> 
  
	<div class="content">
        <div class="tab tab_combo">
            <ul class="tab_menu">
                <li class="active"><span>外卖版</span></li>
                <li><span>单店版</span></li>
                <li><span>多店版</span></li>
            </ul>
            <ul class="tab_item">
                <li class="active">
                    <table cellspacing="0" cellpadding="0" class="table_combo" border="1px">
						<tr class="title">
							<td>服务项</td>
							<td>一级功能</td>
							<td>二级功能</td>
							<td>标准版</td>
							<td>高级版</td>
							<td>豪华版</td>
							<td>终极版</td>
						</tr>
						<tr>
							<td rowspan="12">门店</td>
							<td>门店设置</td>
							<td>门店信息设置&amp;管理，涵盖支付配置支付配置、硬件配置；</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>门店个数</td>
							<td>门店个数限制</td>
							<td>1个</td>
							<td>3个</td>
							<td>5个</td>
							<td>8个</td>
						</tr>
						<tr>
							<td>菜品设置</td>
							<td>对菜品做管理</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>员工管理</td>
							<td>员工信息添加与对员工做激励</td>
							<td>X</td>
							<td>X</td>
							<td>X</td>
							<td>X</td>
						</tr>
						<tr>
							<td>外卖业务</td>
							<td>外卖业务</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>点餐业务</td>
							<td>点餐业务</td>
							<td>X</td>
							<td>X</td>
							<td>X</td>
							<td>X</td>
						</tr>
						<tr>
							<td>预约预订</td>
							<td>预约预订</td>
							<td>X</td>
							<td>X</td>
							<td>X</td>
							<td>X</td>
						</tr>
						<tr>
							<td>优惠买单</td>
							<td>商家对不同时段的优惠做配置管理</td>
							<td>X</td>
							<td>X</td>
							<td>X</td>
							<td>X</td>
						</tr>
						<tr>
							<td>微商城</td>
							<td>微商城，支持商家在线售卖商品</td>
							<td>X</td>
							<td>X</td>
							<td>X</td>
							<td>X</td>
						</tr>
						<tr>
							<td>微官网</td>
							<td>自定义H5页面模板</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>微信设置</td>
							<td>微信基础设置，包括素材管理、微信群发、模板消息</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>分佣体系</td>
							<td>商家创建二级分销体系</td>
							<td>X</td>
							<td>X</td>
							<td>X</td>
							<td>X</td>
						</tr>
						<tr>
							<td rowspan="6">会员</td>
							<td>会员卡</td>
							<td>会员卡基础配置，包括免费及付费会员卡</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>会员等级</td>
							<td>会员体系设置，支持不同等级享受不同权益</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>积分策略</td>
							<td>积分产生与消耗设置</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>积分商城</td>
							<td>积分兑换商品体系</td>
							<td>X</td>
							<td>X</td>
							<td>X</td>
							<td>X</td>
						</tr>
						<tr>
							<td>充值策略</td>
							<td>充值设置</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>标签管理</td>
							<td>会员标签管理</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td rowspan="6">营销</td>
							<td>会员营销</td>
							<td>会员全流程营销</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>营销插件</td>
							<td>互助型游戏</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>社交营销</td>
							<td>社交类营销场景，快速拉新</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>业务营销</td>
							<td>交易类的场景化营销，涵盖满减满折、限时抢购</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>卡券货架</td>
							<td>卡券投放的管理</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>优惠券管理</td>
							<td>优惠券发布及管理</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td rowspan="8">应用</td>
							<td>摇一摇</td>
							<td>微信摇一摇营销活动配置</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>排队应用</td>
							<td>排队</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>小票打印</td>
							<td>小票打印的设置</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>消息设置</td>
							<td>商家端的消息提醒机制</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>开发者中心</td>
							<td>开发者对应用的管理</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>打赏</td>
							<td>对服务员的打赏</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>签到</td>
							<td>积分签到</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>O2O游戏</td>
							<td>海海科技</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td rowspan="2">能力</td>
							<td>每秒同时接入请求数</td>
							<td>商户数据存储空间大小</td>
							<td>500</td>
							<td>1000</td>
							<td>5000</td>
							<td>10000</td>
						</tr>
						<tr>
							<td>独享空间</td>
							<td>每秒同时接入的请求数</td>
							<td>10G</td>
							<td>20G</td>
							<td>50G</td>
							<td>不限</td>
						</tr>
					</table>
                </li>
                <li>
                    <table cellspacing="0" cellpadding="0" class="table_combo" border="1px">
						<tr class="title">
							<td>服务项</td>
							<td>一级功能</td>
							<td>二级功能</td>
							<td>标准版</td>
							<td>高级版</td>
							<td>豪华版</td>
							<td>终极版</td>
						</tr>
						<tr>
							<td rowspan="12">门店</td>
							<td>门店设置</td>
							<td>门店信息设置&amp;管理，涵盖支付配置支付配置、硬件配置；</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>门店个数</td>
							<td>门店个数限制</td>
							<td>1个</td>
							<td>1个</td>
							<td>1个</td>
							<td>1个</td>
						</tr>
						<tr>
							<td>菜品设置</td>
							<td>对菜品做管理</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>员工管理</td>
							<td>员工信息添加与对员工做激励</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>外卖业务</td>
							<td>外卖业务</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>点餐业务</td>
							<td>点餐业务</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>预约预订</td>
							<td>预约预订</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>优惠买单</td>
							<td>商家对不同时段的优惠做配置管理</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>微商城</td>
							<td>微商城，支持商家在线售卖商品</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>微官网</td>
							<td>自定义H5页面模板</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>微信设置</td>
							<td>微信基础设置，包括素材管理、微信群发、模板消息</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>分佣体系</td>
							<td>商家创建二级分销体系</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td rowspan="6">会员</td>
							<td>会员卡</td>
							<td>会员卡基础配置，包括免费及付费会员卡</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>会员等级</td>
							<td>会员体系设置，支持不同等级享受不同权益</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>积分策略</td>
							<td>积分产生与消耗设置</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>积分商城</td>
							<td>积分兑换商品体系</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>充值策略</td>
							<td>充值设置</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>标签管理</td>
							<td>会员标签管理</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td rowspan="6">营销</td>
							<td>会员营销</td>
							<td>会员全流程营销</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>营销插件</td>
							<td>互助型游戏</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>社交营销</td>
							<td>社交类营销场景，快速拉新</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>业务营销</td>
							<td>交易类的场景化营销，涵盖满减满折、限时抢购</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>卡券货架</td>
							<td>卡券投放的管理</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>优惠券管理</td>
							<td>优惠券发布及管理</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td rowspan="8">应用</td>
							<td>摇一摇</td>
							<td>微信摇一摇营销活动配置</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>排队应用</td>
							<td>排队</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>小票打印</td>
							<td>小票打印的设置</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>消息设置</td>
							<td>商家端的消息提醒机制</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>开发者中心</td>
							<td>开发者对应用的管理</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>打赏</td>
							<td>对服务员的打赏</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>签到</td>
							<td>积分签到</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>O2O游戏</td>
							<td>海海科技</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td rowspan="2">能力</td>
							<td>每秒同时接入请求数</td>
							<td>商户数据存储空间大小</td>
							<td>500</td>
							<td>1000</td>
							<td>5000</td>
							<td>10000</td>
						</tr>
						<tr>
							<td>独享空间</td>
							<td>每秒同时接入的请求数</td>
							<td>10G</td>
							<td>20G</td>
							<td>50G</td>
							<td>不限</td>
						</tr>
					</table>
                </li>
                <li>
                    <table cellspacing="0" cellpadding="0" class="table_combo" border="1px">
						<tr class="title">
							<td>服务项</td>
							<td>一级功能</td>
							<td>二级功能</td>
							<td>标准版</td>
							<td>高级版</td>
							<td>豪华版</td>
							<td>终极版</td>
						</tr>
						<tr>
							<td rowspan="12">门店</td>
							<td>门店设置</td>
							<td>门店信息设置&amp;管理，涵盖支付配置支付配置、硬件配置；</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>门店个数</td>
							<td>门店个数限制</td>
							<td>5个</td>
							<td>6个</td>
							<td>8个</td>
							<td>10个</td>
						</tr>
						<tr>
							<td>菜品设置</td>
							<td>对菜品做管理</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>员工管理</td>
							<td>员工信息添加与对员工做激励</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>外卖业务</td>
							<td>外卖业务</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>点餐业务</td>
							<td>点餐业务</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>预约预订</td>
							<td>预约预订</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>优惠买单</td>
							<td>商家对不同时段的优惠做配置管理</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>微商城</td>
							<td>微商城，支持商家在线售卖商品</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>微官网</td>
							<td>自定义H5页面模板</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>微信设置</td>
							<td>微信基础设置，包括素材管理、微信群发、模板消息</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>分佣体系</td>
							<td>商家创建二级分销体系</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td rowspan="6">会员</td>
							<td>会员卡</td>
							<td>会员卡基础配置，包括免费及付费会员卡</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>会员等级</td>
							<td>会员体系设置，支持不同等级享受不同权益</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>积分策略</td>
							<td>积分产生与消耗设置</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>积分商城</td>
							<td>积分兑换商品体系</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>充值策略</td>
							<td>充值设置</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>标签管理</td>
							<td>会员标签管理</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td rowspan="6">营销</td>
							<td>会员营销</td>
							<td>会员全流程营销</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>营销插件</td>
							<td>互助型游戏</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>社交营销</td>
							<td>社交类营销场景，快速拉新</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>业务营销</td>
							<td>交易类的场景化营销，涵盖满减满折、限时抢购</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>卡券货架</td>
							<td>卡券投放的管理</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>优惠券管理</td>
							<td>优惠券发布及管理</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td rowspan="8">应用</td>
							<td>摇一摇</td>
							<td>微信摇一摇营销活动配置</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>排队应用</td>
							<td>排队</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>小票打印</td>
							<td>小票打印的设置</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>消息设置</td>
							<td>商家端的消息提醒机制</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>开发者中心</td>
							<td>开发者对应用的管理</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>打赏</td>
							<td>对服务员的打赏</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>签到</td>
							<td>积分签到</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td>O2O游戏</td>
							<td>海海科技</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
							<td>√</td>
						</tr>
						<tr>
							<td rowspan="2">能力</td>
							<td>每秒同时接入请求数</td>
							<td>商户数据存储空间大小</td>
							<td>500</td>
							<td>1000</td>
							<td>5000</td>
							<td>10000</td>
						</tr>
						<tr>
							<td>独享空间</td>
							<td>微客服支持的坐席数量</td>
							<td>10G</td>
							<td>20G</td>
							<td>50G</td>
							<td>不限</td>
						</tr>
					</table>
                </li>
            </ul>
        </div>
					
    </div>
    
  </div>
</div>
<div id="foot">
  <div class="foot-content">
    <p>Copyright &copy; 2014-2016 Www.AdminBuy.Cn AB模版网 版权所有</p>
    <p>苏ICP12345678</p>
  </div>
</div>
 
<script type="text/javascript" src="js/jquery-1.8.2.js"></script> 

<script src="js/scroll.js"></script> 
<script src="js/jquery.imagescroll.min.js"></script> 

<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/canting.js"></script>
	<script type="text/javascript" src="js/analytics.js"></script>


<script>
	        $('.img-holder').imageScroll({
	//            image: null,
	//            imageAttribute: 'image',
	//            container: $('body'),
	//            windowObject: $(window),
	//            speed:.2,
	//            coverRatio:.75,
	//            coverRatio:1,
	//            holderClass: 'imageHolder',
	//            imgClass: 'img-holder-img',
	//            holderMinHeight: 200,
	//            holderMaxHeight: null,
	//            extraHeight: 50,
	//            mediaWidth: 1600,
	//            mediaHeight: 900,
	//            parallax: true,
	//            touch: false
	        });
	    </script>
		
		<script type="text/javascript">
		// 判断是否url有某参数
        function hasQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "($|(=([^&]*)(&|$)))", "i");
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return true; 
            
            return false;
        }
    
        var analyticOpt = {
            BASE_URL: "http://statistic.weimobdc.com/wm.js",
			pageName: "combo_page_ct",
			stattype: 'o2o',
            data: {
                sem: false
            }
        }

        if(hasQueryString('ct')) analyticOpt.data.sem = true;
    </script>
</body>
</html>