<link rel="stylesheet" href="/static/admin/js/vendor/uploadify/mydemo/uploadify-demo.css">
<script src="/static/admin/js/vendor/uploadify/jquery.uploadify.min.js"></script>

<div class="content_wrapper">

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <aside>
                    <header>
                        <i class="fa fa-fw fa-file"></i>修改Banner
                        <a href="#/banner/bannerList"><i class="fa fa-fw fa-arrow-left" style="float:right;margin:10px 30px 0 0"></i></a>
                    </header>
                    <section>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <form class="form-horizontal" role="form" method="post" action="/admin/banner/bannerUpdate" data-sendingText="正在为您积极努力的去提交信息。。。" data-validate="validate">

                                        <input type="hidden"  name="id" value="{$getOne.id}" >
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">标题</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" placeholder="标题" name="title" value="{$getOne.title}">
                                            </div>
                                            <p class="col-sm-4 help-block">*必填</p>
                                        </div>
                                        <hr/>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Banner类型</label>
                                            <div class="col-sm-4">
                                                <select class="form-control" name="attribute">
                                                    <option>请选择</option>
                                                    <option value="1" {$getOne.attribute=="首页Banner"?="selected='selected'"}>首页Banner</option>
                                                    <option value="2" {$getOne.attribute=="关于我们Banner"?="selected='selected'"}>关于我们Banner</option>
                                                    <option value="3" {$getOne.attribute=="产品介绍Banner"?="selected='selected'"}>产品介绍Banner</option>
                                                    <option value="4" {$getOne.attribute=="功能版本Banner"?="selected='selected'"}>功能版本Banner</option>
                                                    <option value="5" {$getOne.attribute=="新闻动态Banner"?="selected='selected'"}>新闻动态Banner</option>
                                                    <option value="6" {$getOne.attribute=="加入我们Banner"?="selected='selected'"}>加入我们Banner</option>
                                                    <option value="6" {$getOne.attribute=="新闻详情Banner"?="selected='selected'"}>新闻详情Banner</option>
                                                </select>
                                            </div>
                                            <p class="col-sm-2 help-block"></p>
                                            <p class="col-sm-4 help-block">*必填</p>
                                        </div>
                                        <hr/>

                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">Banner图</label>
                                            <div class="col-sm-6">
                                                <input type="button" id="uploadify1"/>
                                                <div id="waitUploadNum"></div>
                                                <div id="imageView">
                                                    <img src="{$getOne.thumbnail}" style="width:150px;height:80px">
                                                    <input type="hidden" name="thumbnail" value="{$getOne.thumbnail}">
                                                </div>
                                            </div>
                                            <p class="col-sm-4 help-block">
                                                *建议图片尺寸：<br>
                                                首页：1920*1080<br>
                                                关于我们：1920*778<br>
                                                产品介绍：1920*837<br>
                                                功能版本：1920*500<br>
                                                新闻动态：1920*500<br>
                                                加入我们：1920*500
                                            </p>
                                        </div>
                                        <hr/>

                                        <div class="form-group">
                                            <div class=" col-sm-12">
                                                <button type="button" class="btn btn-primary J_ajaxSubmitBtn">提交</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>

</div>

<script>
    /*图片上传JS脚本*/
    try {
        $('#uploadify1').uploadify('destroy');
    } catch (e) {
    }
    $('#uploadify1').uploadify({
        'auto': true,                                 //选择文件后是否自动上传
        'multi': false,                               //是否支持多文件上传
        'swf': '/static/admin/js/vendor/uploadify/uploadify.swf',                                   //swf文件路径
        'buttonImage': '/static/admin/js/vendor/uploadify/mydemo/btn1.png',                   //按钮图片路径
        'width': 90,                               //按钮宽
        'height': 34,                             //按钮高
        'fileObjName': 'imgFile',                   //表单域的name
        'uploadLimit': 999,                   //最多上传文件数量，默认999
        'queueSizeLimit': 999,             //队列长度限制，默认999
        'buttonCursor': 'hand',                       //上传按钮Hover时的鼠标形状，默认值是’hand’
        'queueID': 'waitUploadNum',                           //上传队列的#id，用于css。不设定则不显示进度条
        'removeCompleted': true,           //表示在上传完成后是否删除队列中的对应元素。默认是True，即上传完成后就看不到上传文件进度条了
        'removeTimeout': 2,               //表示上传完成后多久删除队列中的进度条，默认为3秒
        'preventCaching': true,                       //若设置为true，一个随机数将被加载swf文件URL的后面，防止浏览器缓存
        'fileSizeLimit': '3072KB',               //上传文件大小限制，默认单位是KB，若需要限制大小在100KB以内，可设置该属性为：100KB
        'fileTypeDesc': 'Image Files',                 //文件类型的说明
        'fileTypeExts': '*.gif; *.jpg; *.png; *.jpeg',                 //指定允许上传的文件类型。默认*.*。比如只支持gif , jpg , png类型的图像，那么该属性设置为: ‘*.gif; *.jpg ; *.png’
        'formData': '{"uid":"250"}',                         //指定上传文件附带的其他数据
        'uploader': '/static/admin/server/upload.php',                         //服务器脚本路径
        'onUploadSuccess': function (file, data, response) {
            /**
             * 在每一个文件上传成功后触发！
             * file：为uploadify自己组装的文件对象
             * data：为服务器返回的信息
             * response：true或false
             */
            var data = jQuery.parseJSON(data);
            var $imageView = $("#imageView");
            $imageView.empty();
            $imageView.append($("<img src='" + data.url + "' style='width:150px;height:80px'/><input type='hidden' name='thumbnail' value='" + data.url + "'>"));  //这里不能遍历data对象，因为它不是一个队列
            console.log(data);
        }

    });
</script>

<script>
    /*数据验证JS脚本*/
    function callback1(returnData, $from) {
        console.log($from);
    }
    function validate($from) {
        var title = $from.find('input[name="title"]');
        var attribute = $from.find('select[name="attribute"]');
        var thumbnail = $from.find('input[name="thumbnail"]');
        if ($.trim(title.val()) == '') {
            return '标题不能为空';
        }

        if ($.trim(attribute.val()) == '') {
            return 'Banner类型不能为空';
        }

        if ($.trim(thumbnail.val()) == '') {
            return 'Banner图不能为空';
        }

        return true;
    }
</script>

